---
title: Rapid Results Consulting Engagement
suppress_header: true
description: "The GitLab Rapid Results Consulting package helps you quickly implement your GitLab solution and enable your organization to take advantage of your GitLab purchase quickly."
canonical_path: "/services/rapid-results/"
extra_css:
  - services.css
extra_js:
  - services.js
---

.wrapper
  .simple-header
    %h1
      Rapid Results Consulting Engagement
    %h3.headline-subtitle
      Enterprise-ready, scalable GitLab installation designed by experts.

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li 
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h2 What's a Rapid Results Consulting Engagement?
        %p.service-para
          The GitLab Rapid Results Consulting package helps you quickly implement your GitLab solution and enable your organization to take advantage of your GitLab purchase quickly. Our Professional Services Engineers aid in installing and configuring your GitLab solution so that it runs as smoothly as possible. The Professional Services Engineer will be dedicated to working with your team to architect and advise on best practices for getting the most value possible from your GitLab purchase. 
          <br/><br/>
          This service can be delivered remotely or at the customer’s location.
        .row
          .col-md-6
            .panel.panel-gitlab-purple
              .panel-heading
                %h3.panel-title Self-Managed Rapid Results Consulting
              .panel-body
                %p.overview
                  This service package is designed for customers on-boarding to GitLab’s self-managed product installed in your environment.  
                  <br/><br/>
                  Our Professional Services Engineers will work with your team to architect and advise on best practices for getting the most value possible from your GitLab purchase. 
                = link_to "Learn More", "/services/rapid-results/self-managed/", class: "btn cta-btn purple center"
          .col-md-6
            .panel.panel-gitlab-purple
              .panel-heading
                %h3.panel-title GitLab.com Rapid Results Consulting
              .panel-body
                %p.overview
                  This service package is designed for customers on-boarding to GitLab’s SaaS product - GitLab.com.  
                  <br/><br/>
                  Our Professional Services Engineers will work with your team to architect and advise on best practices for getting the most value possible from your GitLab purchase. 
                = link_to "Learn More", "/services/rapid-results/dot-com/", class: "btn cta-btn purple center"
