---
layout: default
title: Join the GitLab community of Channel Partners
description: "Differentiate yourself from your competition in the applications toolspace with GitLab's Channel Partner Program"
suppress_header: true
extra_css:
  - tiered-resellers.css
  - row-collapse.css
extra_js:
  - row-collapse.js
---
- tiered_resellers = data.tiered_resellers

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/dotted-world-map.svg"
    .container
      .header-container-content
        .row
          .col-md-10.col-md-offset-1
            %h1 Join the GitLab Community of Channel Partners
            %p.intro.text-center The GitLab Partner Program is a new kind of program.  It’s open to everyone and like our overall company culture, everyone can contribute. The GitLab Partner Program enables partners and potential partners — including systems integrators, cloud platform partners, resellers, distributors, managed service providers, and ecosystem partners — to maximize the value of their DevOps expertise and the GitLab platform for our customers.

        .row
          .col-md-6.col-md-offset-3
            %h3 PROGRAM TRACKS
            %p We welcome all partners to the GitLab partner program.  However, our program is structured to provide additional rewards for partners that make a commitment and investments in a deeper GitLab relationship.
            .buttons-container.margin-top30
              = link_to "Apply today", "https://partners.gitlab.com/", class: "btn cta-btn orange", :"data-ga-name" => "apply today", :"data-ga-location" => "header"

  .content-container
    .wrapper.container{role: "main"}
      - tiered_resellers.each do |level|
        %input.tab-select-input{ id: "#{level.name}", type: "radio", name: "reseller-level", checked: (true if level.name == 'authorized'), class: "tab-#{level.name}", aria: { label: level.title } }
        %label.tab-item{ for: level.name }
          = level.title


      .row.comparison-table-header
        - tiered_resellers.each do |level|
          .col-md-6.level-column{ class: "#{level.name}-col" }
            .level-title.text-center
              = level.title

      .row.comparison-table-body.section-group
        - tiered_resellers.each do |level|
          .col-md-6.level-column{ class: "#{level.name}-col" }
            .level-badge.text-center
              = image_tag "#{level.badge}", style: "max-height: 150px; max-width: 150px; margin-bottom: 15px;"
              %p
                = level.overview

      .row
        .col-md-10.col-md-offset-1.text-center.margin-top30
          %h4 Learn more about the benefits and requirements of the GitLab Partner Program
          %h4 Already a partner?  
          .buttons-container.margin-top30
          = link_to "Partner Portal", "https://partners.gitlab.com/", class: "btn cta-btn orange", :"data-ga-name" => "partner portal", :"data-ga-location" => "body"

      .row.margin-top50
        %blockquote
          %p GitLab sees a massive opportunity for partners to convert more than 100,000 organizations using its open-source solutions in production to commercial customers. Partners can also benefit by extending the thousands of paying customers into new parts of the platform.
          %p This is a fundamental strategy for GitLab. It is absolutely critical to the success of our customers and the success of GitLab that we have a true channel program that serves our customers throughout the entire lifecycle of our customers.
          %p - Michael McBride, Chief Revenue Officer at GitLab
          %p <a href="https://www.crn.com/news/cloud/gitlab-ramping-channel-engagement-ahead-of-ipo">CRN, January 14, 2020</a>

      .row
        .col-10
          %p
            In Apr 2020, we upgraded the former reseller program to a Channel Partner program with launch of
            = succeed "." do
              = link_to('a new Global Partner program', '/press/releases/2020-04-21-gitLab-ramps-up-channel-and-partner-investment-with-launch-of-a-new-global-partner-program.html', :"data-ga-name" => "global partner program", :"data-ga-location" => "body")
          %p
            View our Channel Partner Handbook 
            = succeed "." do
              = link_to('here', '/handbook/resellers/', :"data-ga-name" => "channel partner handbook", :"data-ga-location" => "body")
