.grid-layout.grid-layout2.margin-top50
  .grid-item
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "300", :src => "https://www.youtube.com/embed/blJT8f6ZDH8", :width => "500"}

  .grid-item
    %h3.margin-top0
      Flexible Deployment Options
    %p
      GitLab
      %a{href: "https://docs.gitlab.com/ee/topics/autodevops/"}Auto DevOps
      simplifies and accelerates delivery with a complete delivery pipeline out of the box.
      Use predefined
      %a{href: "https://docs.gitlab.com/ee/ci/examples/index.html"}deployment templates
      or build and maintain your
      %a{href: "https://docs.gitlab.com/ee/ci/yaml/gitlab_ci_yaml.html"}pipelines-as-code.
      Your deployments can also scale with your DevOps maturity - create
      %a{href: "https://docs.gitlab.com/ee/ci/pipelines/multi_project_pipelines.html"}deployments that span multi-projects
      or organize your pipelines with
      %a{href: "https://docs.gitlab.com/ee/ci/pipelines/parent_child_pipelines.html"}parent-child pipelines.
