.column.advantage.padding-vertical60.padding-left20.padding-right40
  .title
    The GitLab difference    

  .row
    .column.item
      = image_tag "/images/solutions/icon_data-doc.svg", width: "100px"
      .title
        Simplicity
      .description
        One platform, one price, with comprehensive app sec for both dev and sec 

      = link_to "Application Security Testing", "https://docs.gitlab.com/ee/user/application_security/"
      = link_to "Vulnerability Management", "https://docs.gitlab.com/ee/user/application_security/vulnerability_report/"
      = link_to "Protect deployed apps", "https://docs.gitlab.com/ee/user/project/clusters/protect/"

    .column.item
      = image_tag "/images/solutions/icon_shift-left.svg", width: "100px"
      .title
        Control
      .description
        Compliance framework for consistency, common controls, policy automation.
      = link_to "Compliance capabilities", "https://docs.gitlab.com/ee/administration/compliance.html"
      = link_to "Security policy configuration", "https://docs.gitlab.com/ee/user/application_security/configuration/"
          
    .column.item
      = image_tag "/images/solutions/icon_sheild-check.svg", width: "100px"
      .title
        Visibility
      .description
        See who changed what, where, when, end-to-end.
      = link_to "Audit events", "https://docs.gitlab.com/ee/administration/audit_events.html"
      = link_to "Audit reports", "https://docs.gitlab.com/ee/administration/audit_reports.html"
      = link_to "Dependency list (BOM)", "https://docs.gitlab.com/ee/user/application_security/dependency_list/#dependency-list"


